
CREATE TABLE [dbo].[Caja](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto_Inicial] [decimal](10, 2) NULL,
	[Monto_Final] [decimal](10, 2) NULL,
	[Fecha_Apertura] [datetime] NULL,
	[Fecha_Cierre] [datetime] NULL,
	[Gastos] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Usuario_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[Descripcion] [varchar](500) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Proveedor_Id] [int] NULL,
	[Usuario_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](100) NULL,
	[Cantidad] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Compra_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NULL,
	[Precio_Unitario] [decimal](10, 2) NULL,
	[Precio_Compra] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Venta_Id] [int] NULL,
	[Producto_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Monto] [float] NULL,
	[TipoGasto] [varchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[Stock] [int] NULL,
	[Stock_minimo] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NULL,
	[PrecioVenta] [decimal](10, 2) NULL,
	[FechaCaducidad] [date] NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Categoria_Id] [int] NULL,
	[Marca_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Clave] [varchar](255) NULL,
	[Rol] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 27/4/2026 10:59:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[Metodo_Pago] [varchar](50) NULL,
	[Observaciones] [varchar](255) NULL,
	[FechaCreacion] [datetime] NULL,
	[Borrado] [bit] NULL,
	[Cliente_Id] [int] NULL,
	[Usuario_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Caja] ON 

INSERT [dbo].[Caja] ([Id], [Monto_Inicial], [Monto_Final], [Fecha_Apertura], [Fecha_Cierre], [Gastos], [Estado], [FechaCreacion], [Borrado], [Usuario_Id]) VALUES (1, CAST(1111111.00 AS Decimal(10, 2)), CAST(11111111.00 AS Decimal(10, 2)), NULL, NULL, CAST(111111.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-20T09:59:44.510' AS DateTime), 1, 1)
INSERT [dbo].[Caja] ([Id], [Monto_Inicial], [Monto_Final], [Fecha_Apertura], [Fecha_Cierre], [Gastos], [Estado], [FechaCreacion], [Borrado], [Usuario_Id]) VALUES (2, CAST(2222.00 AS Decimal(10, 2)), CAST(2222.00 AS Decimal(10, 2)), NULL, NULL, CAST(2222.00 AS Decimal(10, 2)), N'23232', CAST(N'2026-04-27T08:30:34.367' AS DateTime), 0, 1)
INSERT [dbo].[Caja] ([Id], [Monto_Inicial], [Monto_Final], [Fecha_Apertura], [Fecha_Cierre], [Gastos], [Estado], [FechaCreacion], [Borrado], [Usuario_Id]) VALUES (3, CAST(222.00 AS Decimal(10, 2)), CAST(222.00 AS Decimal(10, 2)), NULL, NULL, CAST(222.00 AS Decimal(10, 2)), N'2222', CAST(N'2026-04-27T08:46:35.053' AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[Caja] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [FechaCreacion], [Borrado]) VALUES (1, N'cat', N'cat', CAST(N'2026-04-20T10:02:35.660' AS DateTime), 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [FechaCreacion], [Borrado]) VALUES (2, N'sal', N'dulce', CAST(N'2026-04-21T11:00:35.807' AS DateTime), 0)
INSERT [dbo].[Categorias] ([Id], [Nombre], [Descripcion], [FechaCreacion], [Borrado]) VALUES (3, N'reeeeee', N'eeeeee', CAST(N'2026-04-23T10:34:00.287' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (1, N'miguelito', N'911', N'miguelito@gmail.com', N'aeropuerto', CAST(N'2026-04-17T10:40:16.203' AS DateTime), 1)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (2, N'edit', N'edit', N'Edit@edit.com', N'edit', CAST(N'2026-04-20T09:58:08.950' AS DateTime), 0)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (1002, N'eeeeee', N'eeeee', N'rrr@eee.com', N'erererererererer', CAST(N'2026-04-27T10:24:21.190' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([Id], [Fecha], [Total], [Descripcion], [FechaCreacion], [Borrado], [Proveedor_Id], [Usuario_Id]) VALUES (1, CAST(N'2026-04-20T10:05:27.870' AS DateTime), CAST(777777.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-20T10:05:27.840' AS DateTime), 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompras] ON 

INSERT [dbo].[DetalleCompras] ([Id], [Producto], [Cantidad], [Precio], [Subtotal], [FechaCreacion], [Borrado], [Compra_Id]) VALUES (1, N'pito', 2, CAST(1.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(N'2026-04-20T10:06:49.353' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[DetalleCompras] OFF
GO
SET IDENTITY_INSERT [dbo].[Gastos] ON 

INSERT [dbo].[Gastos] ([Id], [Descripcion], [Monto], [TipoGasto], [FechaCreacion], [Borrado]) VALUES (1, N'null', 3333, N'null', CAST(N'2026-04-24T09:06:43.720' AS DateTime), 0)
INSERT [dbo].[Gastos] ([Id], [Descripcion], [Monto], [TipoGasto], [FechaCreacion], [Borrado]) VALUES (2, N'222', 3333, N'3333', CAST(N'2026-04-24T09:43:26.957' AS DateTime), 0)
INSERT [dbo].[Gastos] ([Id], [Descripcion], [Monto], [TipoGasto], [FechaCreacion], [Borrado]) VALUES (3, N'322', 0, N'22', CAST(N'2026-04-24T09:43:36.847' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Gastos] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Nombre], [FechaCreacion], [Borrado]) VALUES (1, N'cualquiera2', CAST(N'2026-04-21T10:58:33.777' AS DateTime), 0)
INSERT [dbo].[Marcas] ([Id], [Nombre], [FechaCreacion], [Borrado]) VALUES (2, N'eee', CAST(N'2026-04-23T08:46:48.027' AS DateTime), 1)
INSERT [dbo].[Marcas] ([Id], [Nombre], [FechaCreacion], [Borrado]) VALUES (3, N'rrrr', CAST(N'2026-04-23T08:50:32.480' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Stock], [Stock_minimo], [PrecioCompra], [PrecioVenta], [FechaCaducidad], [FechaCreacion], [Borrado], [Categoria_Id], [Marca_Id]) VALUES (1, N'salita', 10, 5, CAST(20.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), NULL, CAST(N'2026-04-21T11:01:33.320' AS DateTime), 0, 1, 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Stock], [Stock_minimo], [PrecioCompra], [PrecioVenta], [FechaCaducidad], [FechaCreacion], [Borrado], [Categoria_Id], [Marca_Id]) VALUES (2, N'Pringles', 79, 22, CAST(1.00 AS Decimal(10, 2)), CAST(88.00 AS Decimal(10, 2)), CAST(N'2222-02-22' AS Date), CAST(N'2026-04-27T09:44:50.693' AS DateTime), 0, 2, 2)
INSERT [dbo].[Productos] ([Id], [Nombre], [Stock], [Stock_minimo], [PrecioCompra], [PrecioVenta], [FechaCaducidad], [FechaCreacion], [Borrado], [Categoria_Id], [Marca_Id]) VALUES (3, N'eeeeee', 22222, 22222, CAST(22.00 AS Decimal(10, 2)), CAST(2222.00 AS Decimal(10, 2)), CAST(N'4444-04-04' AS Date), CAST(N'2026-04-27T09:47:36.733' AS DateTime), 0, 2, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (1, N'ejemplo', N'ejemplo', N'ejemplo', N'ejemplo', CAST(N'2026-04-20T10:05:01.313' AS DateTime), 0)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (2, N'yyy', N'1236', N'popppp@yy.com', N'92196419', CAST(N'2026-04-24T10:36:33.173' AS DateTime), 0)
INSERT [dbo].[Proveedores] ([Id], [Nombre], [Telefono], [Email], [Direccion], [FechaCreacion], [Borrado]) VALUES (3, N'errer', N'23424', N'sfse@gmailc.mio', N'gdfgdfg', CAST(N'2026-04-24T10:38:43.423' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Email], [Clave], [Rol], [FechaCreacion], [Borrado]) VALUES (1, N'estring', N'user@sssss.com', N'estrun', N'dgrqeeeee', CAST(N'2026-04-13T09:19:27.007' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Email], [Clave], [Rol], [FechaCreacion], [Borrado]) VALUES (2, N'st555555ring', N'user@example.com5', N'string', N'string', CAST(N'2026-04-13T09:22:18.263' AS DateTime), 0)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Email], [Clave], [Rol], [FechaCreacion], [Borrado]) VALUES (3, N'pepe', N'pepe@gmail.com', N'12345', N'gghjghj', CAST(N'2026-04-14T09:48:19.587' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [Fecha], [Total], [Metodo_Pago], [Observaciones], [FechaCreacion], [Borrado], [Cliente_Id], [Usuario_Id]) VALUES (1, CAST(N'2026-04-20T10:13:23.797' AS DateTime), CAST(67.00 AS Decimal(10, 2)), N'yape', N'comi una paloma pe', CAST(N'2026-04-20T10:13:23.753' AS DateTime), 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Caja] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Caja] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[DetalleCompras] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleCompras] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[DetalleVentas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DetalleVentas] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Marcas] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock_minimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Borrado]
GO
ALTER TABLE [dbo].[Caja]  WITH CHECK ADD FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([Proveedor_Id])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD FOREIGN KEY([Compra_Id])
REFERENCES [dbo].[Compras] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([Producto_Id])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([Venta_Id])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([Marca_Id])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([Cliente_Id])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])

